<!DOCTYPE html>
<html lang="ENG">

<head>
    <title>OdoLLC</title>
    <meta charset="UTF-8">
    <link href="odo.css" type="text/css" rel="stylesheet">
    <link rel="icon" href="justLogo.png">
</head>

<body>
    <span class="header">
        <span class="logo">
            <a href="http://192.168.100.6">
                <img src="logo.png" alt="Logo" style="height:60px;">
            </a>
        </span>
    </span>
    <div class="row">
        <div class="lPane">
            <div class="card">
                <h2>Projects</h2>
<!--                <span class="dot"></span> <a href="countdown.html">Countdowns</a>-->
<!--                <br>-->
                <span class="dot"></span> <a href="http://192.168.100.100">Curriculum vitae</a>
                <br>
                <span class="dot"></span> <a href="http://192.168.100.103">'Sweater' social network</a>
                <br>
                <span class="dot"></span> <a href="http://192.168.100.101">Endemics</a>
                <br>
                <span class="dot"></span> <a href="http://192.168.100.102">Money App</a>
            </div>
        </div>
        <div class="rPane">
            <div class="card">
                <h2>Management</h2>
                <span class="list">
                    <span class="dot"></span> <a href="http://192.168.100.104">Jenkins</a>
                    <br>
                </span>
            </div>
        </div>
    </div>
    <div class="footer">Odoevskogo LLC <span class="footLbl">In. Corp</span>
    </div>
</body>

</html>